.bg-image {
    background-repeat: no-repeat;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-control-prev-icon {
    background-image: url(../img/left-arrow.svg);
}

.carousel-control-next-icon {
    background-image: url(../img/right-arrow.svg);
}

.carousel-control-next,
.carousel-control-prev {
    width: 20px;
}

.carousel-control-prev {
    left: -35px;
}

.carousel-control-next {
    right: -35px;
}

#shapka1 {
    font-size: 40;
}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #fafafa;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #ffffff;
}
.contact .info .info-icon {
    background: #ffc451;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    ;

}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contact .info p {
    padding: 0 0 0 60px;
    font-size: 14px;
}

.footer-top {
    background: #151515;
    color: #fff;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}

.footer-info {
    margin-bottom: 3px;
}

.footer-top .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-top .footer-info p {
    font-size: 14px;
    ;
    line-height: 24px;
    margin-bottom: 0;
}

.footer-top .social-links a {
    width: 36px;
    height: 36px;
    background: #292929;
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
}

.footer-top .social-links a:hover {
    background: #ffc451;
}

.footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
}

.footer-links {
    margin-bottom: 30px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    padding: 10px 0;
    display: flex;
    align-items: center;

}

.footer-links a {
    color: white;
    text-decoration: none;

}

.footer-links a:hover {
    color: #ffc451;
}

form {
    margin-top: 30px;
    padding: 6px 10px;
    border: radius 4px;
    ;
      
}


.about ul li{
    list-style-type: none;
}
.cta{
    background-image: linear-gradient(rgba(2,2,2,0.5), rgba(2, 2, 2, 0.8)), url(https://images.pexels.com/photos/3879060/pexels-photo-3879060.jpeg?auto-compress&cs=tinysrgb&dbr=2&h=650&w=940) fixed center center ;
    padding: 80px 0; 
    color: rgb(0, 0, 0);    
      
}
.cta h3 p{
    font-weight: 700;
    font-size: 28px;
    color: #000000;
}
.cta-btn{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid rgb(75, 3, 3);
    border-radius: 4px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.cta-btn:hover{
    background: #ffc451;
    border-color: #ffc451;
    color: #151515;
}
.cta-fon{
    background-image: url(../img/fonsvys.png);
}
.img-fluid{
    margin-top: 100px;
}
.content{
    margin-top: 100px;
}